<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC+ Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Css/Mediaquery.css" />
        <link rel="stylesheet" type="text/css" href="~/Css/estilosGeneral.css" />
        <link rel="stylesheet" type="text/css" href="~/Css/ChatGeneral.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        

    </head>
    <body>
        <header>             
            <div class="content-wrapper">
                <div class="titulo">
                    PLATAFORMA VIRTUAL
                </div>                                
            </div>
            <div class="divImagen">
                <img  class="imagenindex" src="~/Image/ro2.png" />
            </div>
        </header>
        <div id="body">
             @RenderSection("featured", required: false)            
            <div class="float-right">                    
                <nav>
                    <ul class="menu">
                        <li class="menu1">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="menu2">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="menu3">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="menu4">@Html.ActionLink("Cursos", "cursos", "VistasProyecto")</li>
                    </ul>
                </nav>
            </div>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <!--<div class="imgflotante"><img src="~/Image/robotLeft.png" style="position:relative; height:120px; width:90px;"></div>-->
        <!----<div class="menuFloat-container">
            <span class="conectatecon">Conectate con</span>
            <div class="cell facebook last-cell" title="Facebook">
                <em>Facebook</em>
            </div>
            <div class="cell twitter" title="Twitter">
                <em>Twitter</em>
            </div>
            <div class="cell chat"  title="Charlar"></div>      
        </div>--->
        <footer>
            <div class="divpie">
              <p class="texpie">&copy; @DateTime.Now.Year - By  Amelia | Alfredo | Miguel</p>
            </div>                
        </footer>
        <!---@Scripts.Render("~/bundles/jquery")--->
        @RenderSection("scripts", required: false)
    </body>
</html>