@model P.V.WantHelp_.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2 class="letraD">Detalle</h2>

<fieldset>
    <legend>Material</legend>
    <table>
        <tr class="letraD">
            <td>
                 <div class="display-label" style="visibility:hidden;">
                     @Html.DisplayNameFor(model => model.Id_Material)
                </div>
            </td>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Usuario.Nombre)
                </div>
            </td>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Cursos.Titulo)
                </div>
            </td>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.archivos)
                </div>
            </td>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.urlBase)
                </div>
            </td>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.urlHost)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-field" style="visibility:hidden;">
                    @Html.DisplayFor(model => model.Id_Material)
                </div>
            </td>
            <td>
                 <div class="display-field">
                    @Html.DisplayFor(model => model.Usuario.Nombre)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Cursos.Titulo)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.archivos)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.urlBase)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.urlHost)
                </div>
            </td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id_Material}) |
    @Html.ActionLink("Back to List", "Index")
</p>
