@model IEnumerable<P.V.WantHelp_.Models.Cursos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_F)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlHost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_F)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlHost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Curso }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Curso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Curso })
        </td>
    </tr>
}

</table>
